{{define "body"}}


	<!-- AUSWAHLLISTE BEARBEITEN --> 
	<div class="container">

	   <div class="panel panel-default">
			<div  class="panel-heading">   
				<h1 class="panel-title" align="center"><span><b>RA-MICRO <span style='color: red'>Go</span> App E-Nachricht </b><span style="font-size: 18px">{{.Version}}</span></span></h1>
		    </div> 				
	        <div class="panel-body">
			 	<!--<form role="form" class="form-horizontal" id="fm_anepostkorb">-->
				<div class="panel panel-default">
				    <div id="auswahl_controls" class="panel-body">
						<table>
						 	<tr>
								<td><button class="btn btn-default  btn-lg"  id="btn_add">ADD</button></td>
								<td><button class="btn btn-default  btn-lg"  id="btn_remove">DELETE</button></td>
							</tr>							
						</table>
					</div>
				</div>
					
					<div id="preSubjects">
						<ul id="subjectslist" class="list-group">
						<!--
						  <li class="list-group-item">Ich bin beschäftigt - Bitte nicht stören</span></li>
						  <li class="list-group-item"><span class="ui-icon ui-icon-arrowthick-2-n-s">Item 2</span></li>
						  <li class="list-group-item"><span class="ui-icon ui-icon-arrowthick-2-n-s">Item 3</span></li>
						  <li class="list-group-item"><span class="ui-icon ui-icon-arrowthick-2-n-s">Item 4</span></li>
						  <li class="list-group-item"><span class="ui-icon ui-icon-arrowthick-2-n-s">Item 5</span></li>
						  <li class="list-group-item"><span class="ui-icon ui-icon-arrowthick-2-n-s">Item 6</span></li>
						  <li class="list-group-item"><span class="ui-icon ui-icon-arrowthick-2-n-s">Item 7</span></li>
						 -->
						</ul>
					</div>
				<!--</form>-->
			</div>
			
			<div class="panel-footer clearfix">
        		<div class="pull-right">
            		<button  class="btn btn-default  btn-lg" id="btn_auswahl_save">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
            		<button class="btn btn-default btn-lg" id="btn_auswahl_cancel">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
        		</div>
    		</div>
			
		</div>
	</div>

	<!-- EOF CONTAINER FOR AUSWAHLLISTE BEARBEITEN -->

{{end}}
