{{define "body"}}
  <meta charset="utf-8">    
  <title>{{.Title}}</title>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >
	<!-- CONTAINER FOR E-NACHRICHT  --> 
<div class="container">
   <div class="panel panel-default">
			<div  class="panel-heading">   
				<h1 class="panel-title" align="center"><span><b>RA-MICRO <span style='color: red'>Go</span> App E-Nachricht </b><span style="font-size: 18px">{{.Version}}</span></span></h1>
		    </div> 				
	        <div class="panel-body">
				<h3>Coming Soon...!</h3>
			</div>
	</div>
 </div>
	<!-- EOF CONTAINER FOR E-NACHRICHT -->

{{end}}

