table {border-spacing: 25px 10px;}
td    {padding: 10px;}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;   
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}


.panel-title {
	font-size: 20px;
}

.table-responsive {
	overflow-x: hidden !important;
}

.borderless tr td {
    border: none !important;    
}

.dataspace tr td{
	padding:10px;
}

#edt_ENachricht{
	
	margin-right: 10px;		
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-lg {
	height: 40px;
	width: 85px;
}
   /*  */

.tabbutt{
	width: 200px;
	height: 55px;
	position: relative;
	top:25px;
	
}

.form-control {
    padding-right: 30px;
}

.has-feedback .form-control-feedback {
	top: -8px !important;
	right: 10px !important;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}

.glyphicon-ok {
	color:#00FF00;
}

.glyphicon-remove {
	color:#FF0000;
}

.glyphicon-eye-open {
    position: absolute;  
    right:0;
    padding: 8px 54px;
}

.auswahllist {
	width: 600px; 
	height: 550px; 
	position: absolute;
	left: 50%; 
	margin-left: -400px;
}

.thebuttons{
	width: 200px; 
	height: 50px; 
	position: absolute;
	top: 490px;
	left: 50%; 
	margin-left: 185px;	
}

.btnaccept{
	width:80px; 
	height:40px; 
	position:absolute;
	left:10px; 	
}

.btncancel{
	width:80px; 
	height:40px; 
	position:absolute;
	left:110px; 		
}

.grosslist {
	width:600px;
	height:210px;
	position:absolute;
	left:50%;
	margin-left:-300px;
}

.htmlEdit {
	position:absolute; 
	top:0px; 
	left:50%; 
	margin-left:0px; 
	border-width:5px; 
	
	background-color: rgb(255, 240, 255);
	font: 14px/normal Arial, Calibri, Tahoma, Helvetica, Verdana; 
	color: rgb(255, 210, 240); 
	text-transform: none; 
	text-indent: 0px; 
	letter-spacing: normal; 
	word-spacing: 0px; 
	white-space: normal; 
	orphans: 2; 
	widows: 2; 
	font-size-adjust: auto; 
	font-stretch: normal; 
	-webkit-text-size-adjust: auto; 
	-webkit-text-stroke-width: 0px; 
}

.DivTools {
	width: 600px;
	height: 400px;
	position: absolute;
	top: 580px;
	left: 50%;
	margin-left: -400px;
	border-width: 4px;
}

.Txtar {
	width: 180px;
	height: 70px;
	resize: none;
}

.pnl01 {
	position: absolute;
	height: 250px;
	width: 600px;
}

.check01 {
	position: relative;
	top: -4px;
	left: 50%;
	margin-left: -10px;
}

.check02 {
	position: relative;
	top: -4px;
	left: 50%;
	margin-left: -40px;
}

.pVor {
	position: relative;
	top: 8px;
	left: 50%;
	margin-left: -22px;
	font-size:14px;
}

.opt1 {
	position: relative;
	width: 298px;
	top: 3px;
	left: 50%;
	margin-left: -170px;
}

.bt01 {
	position: relative;
	top: 3px;
	left: 50%;
	margin-left: -40px;
	font-weight: bold;
}

.tbl01{
	position: relative;
	top: -1px;
}


/*-----------------------------------------------------------------------------
|						 TABLE MOUSEOVER EFFECT								   |
 -----------------------------------------------------------------------------*/
.hoverTable{
   	width:100%; 
   	border-collapse:collapse; 
}
.hoverTable li{ 
   	padding:8px; 
	border:##E6E6E6 1px solid; 
	background: #FFFFFF;
}

.hoverTable li:hover {
    background: #b8d1f3;
}

.hoverTable li > button {
    display: none;
}

.hoverTable li:hover > button {
    display: inline;
}


/*-----------------------------------------------------------------------------
|						 CHECKBOX STYLING 									   |
 -----------------------------------------------------------------------------*/
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  margin-left: -23px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 2px;
  font-size: 15px;
  color: #555555;
}    

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;

}

.checkbox input[type="checkbox"]:checked + label::after{
  font-family: "FontAwesome";
  content: "\f00c";
}

.checkbox-success input[type="checkbox"]:checked + label::before{
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after{
  color: #fff;
}

/*-----------------  EOF CHECKBOX STYLING  -----------------------------------*/	