{{define "foot"}}
<footer></footer>
</div> <!-- /container -->
<!-- Importing Libraries / dependencies -->

<!-- Jquery Library -->
<script type="text/javascript" src="/js/jquery.min.js"></script> 
<script type="text/javascript" src="/js/jquery-ui.js"></script>  

<!-- Bootstrap Libraries --> 
<script type="text/javascript" src="/js/bootstrap-min.js"></script> 
<script type="text/javascript" src="/js/bootstrap-multiselect.js"></script> 

<!-- Spin Library -->		
<script type="text/javascript" src="/js/spin.min.js"></script>
<!-- validation -->		
<!--<script type="text/javascript" src="/js/bootstrapValidator.min.js"></script>-->

<!-- infragistics dependencies -->
<script type="text/javascript" src="/js/infragistics.ui.htmleditor-de.js"></script>
<script type="text/javascript" src="/js/infragistics.core.js"></script>
<script type="text/javascript" src="/js/infragistics.dv.js"></script>
<script type="text/javascript" src="/js/infragistics.lob.js"></script>

<!-- Custom dependencies -->
<script type="text/javascript" src="/js/enachricht_main.js"></script>

</body>
</html>
{{end}}
