{{define "foot"}}
<footer></footer>
</div> <!-- /container -->
<!-- Importing Libraries / dependencies -->

<!-- Jquery Library -->
<script type="text/javascript" src="/js/jquery.min.js"></script> 
<script type="text/javascript" src="/js/jquery-ui.js"></script>  
<!-- Bootstrap Libraries --> 
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- Spin Library -->		
<script type="text/javascript" src="/js/spin.min.js"></script>
<!-- validation -->		
<script type="text/javascript" src="/js/bootstrapValidator.min.js"></script>

<!-- Custom dependencies -->
<script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/js/prettify.js"></script>
<script type="text/javascript" src="/js/bootstrap-wysiwyg.js"></script>

</body>
</html>
{{end}}
